.glow {
  color: #fff;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F91005, 0 0 40px #F91005, 0 0 50px #F91005, 0 0 60px #F91005, 0 0 70px #F91005;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #F7BAB7, 0 0 40px #F7BAB7, 0 0 50px #F7BAB7, 0 0 60px #F7BAB7, 0 0 70px #F7BAB7, 0 0 80px #F7BAB7;
  }
}

.boxshadow{
  box-shadow:
  inset 5px 5px 50px #000000,
  inset -5px -5px 50px green;
  width:200px;
  height:200px;
}
.divmain{
  width: 900px;
  position:relative;

}
.container{
  width:600px;
  height:600px;
  background-color: yellow;
  position:relative;
  top:0px;
  left:0px;
}
.dancingpig{
  width:100px;
  height:100px;
  background-color: blue;
  position:relative;
  top:0px;
  left:0px;
}
.divsmallgrid{
  width:186px;
  height:186px;
  position : relative;
  display:inline-block;
  top: 0px;
  left: 0px;
}
.default-color{
  background-color: red;
}
.click-color-X{
  background: url(../images/img-x.png);
  background-size: cover;
}
.click-color-O{
  background: url(../images/img-x.png);
  background-size: cover;
}
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.dialog {
  font-family: 'Indie Flower', cursive;
  font-size:20px;
  color : red;
  width : 400px;
  height : 400px;
}
.ui-dialog {
position: absolute;
top: 0;
left: 0;
padding: .2em;
outline: 0;
width: 400px !important;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
